@CHARSET "ISO-8859-1";
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  height: 100%;
  
}

body {
    background-image: url("reources/webapp/images/p2.jpg");
    height: 100%;
    background-repeat:no-repeat; 
    background-size: cover;
}

.login-page{
  float: right;
  padding-right: 30px;
}